.conteiner{
  width: 1500px;
  margin: auto;
}

button{
  cursor: pointer;
  transition: 0.5s;
}

#arena{
  width: 1500px;
  height: 500px;
  background: url('img/arena.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  position:relative;
  overflow: hidden;
}



input{
  margin-left: 20px;
  width: 60%;
}

#start_btn{
  position: absolute;
  left: 698px;top: 50%;
  z-index: 10;

}


#war_cloud{
  position: absolute;
  top: 184px;
  left: 540px;
  z-index: 1;
  display: none;
  transform:rotate(20deg);
  animation: mymove 2.4s;
  animation-iteration-count: infinite;
}


@keyframes mymove {
   0%   {transform:rotate(-20deg)}
  50%   {transform:rotate(20deg)}
  100%  {transform:rotate(-20deg)}
}

#fight-swords{
  position: absolute;
  top: 260px;
  left: 650px;
  transition: .5s;
  opacity: 0;
  z-index: 2;
  visibility: hidden;
}


#start_btn>button{
  width: 100px;
  height: 49px;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 11px;
  animation: start 5.4s;
  animation-iteration-count: infinite;
  border: 2px solid white;
}


@keyframes start {
   0%   {background-color:#673AB7}
  25%   {background-color:#4caf50}
  50%   {background-color:#2196f3}
  75%   {background-color:#e91e63}
  100%  {background-color:#673AB7}
}



.player_settings{
  margin-left:20px;
  margin-top:20px;
  background: #50505030;
  border-radius: 8px;
  padding: 15px;
  width: 180px;
}

.player_settings>div>span{
  padding-left: 25%;
  font-weight: 700;
  font-size: 30px;
  color: white;
}



.player_img{
  position:absolute;
  height: 300px;
  transition: 1.5s;
  top: 190px;
}

.player_img>img{
  height: inherit;
}

#player1>.player_img{
  left: 30px;
}
#player2>.player_img{
  left: 1200px;
}

#player1{
  width: 300px;
  height: 500px;
  float:left
}
#player2{
  width: 300px;
  height: 500px;
  float:left;
  margin-left: 885px;
}

.fa-shield-alt{
  color:white;
  font-size:32px
}

#players_damage{
  width: 400px;
  position: absolute;
  top: 25%;
  left: 37%;
}

#players_damage>div{
  height: 50px;
  width: 100px
}

#players_damage>div:first-child{
  float: left;
}

#players_damage>div:last-child{
  float: right;
}

.damage_value{
  position: relative;
  color: red;
  font-weight: 700;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}

.damage_new_value{
  position: absolute;
  left: 35px;
  top: 70px;
  transition: .3s
}






/* shop */

#shop{
  margin-top: 5px;
  width: 1500px;
  height: 400px;
  background: url('img/shop.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

#shop>h1{
  text-align: center;
  color: white;
}

#money{
  text-align: center;
  color: white;
  background: #50505073;
  padding: 10px;
  border-radius: 14px;
  margin: 0 auto;
  width: 260px;
}
#money_count{
  font-size: 30px;
  margin-bottom: 15px
}

#info{
  font-size: 15px
}


#products{
  color: white;
  font-size: 20px;
  background: #ffffff26;
  padding: 30px;
  border-radius: 14px;
  margin: 35px auto auto auto;
  width: 900px;
  height: 100px;
  text-align: center;
}

.product{
  width: 170px;
  font-size: 45px;
  font-weight: bold;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
  transition: .5s
}

.product>span:last-child{
  font-size: 25px;
}

.buy_health{
  background-color: #1e6760;

}

.buy_health:hover{
  background-color: #009688;
}

.buy_damage{
  background-color: #964741
}
.buy_damage:hover{
  background-color: #f44336
}

.buy_armor{
  background-color: #394375
}

.buy_armor:hover{
  background-color:  #3f51b5
}

#warning{
  display: none;
  color: red;
  font-size: 20px;
  background-color: white;
  margin-top: 14px;
}




#win,#finish,#lost{
  width: 400px;
  height: 239px;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 37%;
  color: white;
  font-size: 20px;
  text-align: center;
  background: #423f3fd1;
  z-index: 11;
  display: none;
}



#win>button{
  margin-top: 5px;
  width: 160px;
  height: 49px;
  background: #4CAF50;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 11px;
}

#win>button:hover{
  background-color: #46dc4c
}

#finish{
  width: 536px;
  background-color: #4caf50d9;
  left: 32%;
}

#finish>h1{
  margin-top: 50px
}

#finish>button,#lost>button{
  margin-top: 5px;
  width: 160px;
  height: 49px;
  background: #ff5722;
  font-size: 28px;
  color: #fff;
  border: none;
  border-radius: 11px;
}

#finish>button:hover{
  background-color: #009688
}

#lost{
  background-color: #ff5722c7;
}


#lost>button{
  background-color: #4caf50;
}

#lost>button:hover{
  background-color: #37ce3e
}
