body{
  font-family: font4;
  margin:0px;
  padding: 0px;
}

#main{
  width: fit-content;
  margin: 100px auto auto auto;
  background-color: #282C34;
  border-radius: 10px;
}

.content{
  padding: 40px
}

ul{
  margin:0;
}


ul>li{
    display: inline-block;
}

ul>li>a{
      opacity: .7
}
ul>li>a:hover{
  opacity: 1
}


a,p{
   display: inherit;
   font-size: 20px;
   padding: 22px;
   color: white;
   text-decoration: none;
}

.js p{
  background-color: #ffc107
}

.react p{
  background-color: #009688
}

.list p {
  margin-right: 10px;
}
