
body{
  font-family: font4;
  margin:0px;
  padding: 0px;
}

#main{
  width: 680px;
  height: 200px;
  margin: 100px auto auto auto;
  background-color: #282C34;
  border-radius: 10px;
}

ul{
    margin-top: 70px;
    display: inline-block;
}

ul>li{
    display: inline-block;

}


ul>li:hover{
    background-color:#f44336;
}

a{
    display: inherit;
    font-size: 20px;
    padding: 22px;
     color: white;
     text-decoration: none;
}
