
body{
  background: #000;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat, repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#conteiner{
  width: 1200px;
  /* height: 1000px; */
  position: relative;
  margin: 0 auto;
  /* background: yellow; */
}

.box{
  width: 150px;
  height: 225px;
  margin: 18px 10px auto;
 // background: #F25F5C;
  background-image: url("images/bg2.jpg");
  background-size: 150px 225px;
  border-radius: 5px;
  display: inline-block;
  text-align:center;
  font-size: 40px;
  color: white;
  overflow:hidden;
  transform: rotateY(0deg);
  transition: 0.3s;
}

.img{
  width: 150px;
  height: 225px;
}


#boxsize1,#boxsize2,#boxsize3{
  background: rgba(0, 0, 0, 0.4);
  margin: 20px;
  color: white;
  font-size: 20px;
  font-family: cursive;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#size{
  margin: 50px auto;
  text-align: center;
}
button{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: 0;
}
#win{
  color: white;
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: 1s;
  z-index: 1;
  font-size: 100px;
  text-align: center;
  font-family: fantasy;
  opacity: 0;
  visibility: hidden;
}
#wintext{
  top: 28%;
  left: 40%;
  position: absolute;
}
